{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.macos.taps -}}
tap {{ . | quote }}
{{ end -}}

{{ range $entry := .packages.macos.brews -}}
	{{ if (typeIs "string" $entry) }}
brew {{ $entry | quote -}}
	{{ else }}
		{{- $name := index (keys $entry) 0 }}
brew {{ $name | quote -}}
		{{/* FIXME: args must be a list; Brewfile supports more */}}
		{{- $extra := (get $entry $name) }}
		{{- if $extra.args }}, args: [
			{{- range $i, $v := $extra.args }}
				{{- if $i }}, {{ end }}{{ $v | trimPrefix "--" | quote -}}
			{{ end -}}]
		{{- end -}}
	{{ end -}}
{{ end }}

{{ range .packages.macos.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end }}
